<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_code"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_code_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnigmacampApp"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".materialBeforeNav.MainForFrgmntActivity"
            android:exported="false" />
        <activity
            android:name=".materialBeforeNav.MainActivityViewBindForActi"
            android:exported="false" />
        <activity
            android:name=".materialBeforeNav.MainActivity3ImplicitIntent"
            android:exported="false" />
        <activity
            android:name=".materialBeforeNav.SecondActivity3"
            android:exported="false" />
        <activity
            android:name=".materialBeforeNav.MainActivity2ExplicitIntent"
            android:exported="false" />
        <activity
            android:name=".materialBeforeNav.SecondActivity2"
            android:exported="false" />
        <activity
            android:name=".materialBeforeNav.CounterAppAnI02"
            android:exported="false" />
        <activity
            android:name=".materialBeforeNav.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>